
              <form {% if form.is_multipart %}  id="contact-form" autocomplete="off" enctype="multipart/form-data"{% endif %} action="{{ value.form_action }}" method="post" novalidate>
               {{ form.media }}
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                
                    
                
               
                <div class="card-body pb-2">
                {% for field in form.visible_fields %}
                  <div class="row">
            
                      <div class="col-md-12 ps-md-2 " align-content="center">
                      <div class="mb-3">
                      {% include 'account/form_field.html' %}
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">{{ value.form.submit_button_text }}</button>
                    </div>
                  </div>
                
                </div>
              </form>
            