 <div class="row">
    <div class="col-md-12 text-center">
        <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">{{ value.form.submit_button_text }}</button>
    </div>
</div>


{% comment %} tranparent {% endcomment %}
<a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>


{% comment %} first colored and white {% endcomment %}
<div class="col-lg-6 m-auto">
    <div class="row">
        <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
            <button type="button" class="btn bg-gradient-primary mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Apply Now</button>
        </div>
        <div class="col-sm-4 col-6 ps-sm-0 me-lg-0 me-auto">
            <button type="button" class="btn btn-white mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Our Story</button>
        </div>
    </div>
</div>


<div class="github-buttons">
    <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro" target="_blank" rel="nofollow" class="btn bg-gradient-primary mb-5 mb-sm-0">Upgrade to Pro</a>
    <div class="github-button">
        <span></span>
    </div>
</div>


{% comment %} dark first and transparent {% endcomment %}
<div class="buttons">
    <button type="button" class="btn bg-gradient-dark mt-4">Get Started</button>
    <button type="button" class="btn text-dark shadow-none mt-4">Read more</button>
</div>

{% comment %} blue button {% endcomment %}
<div class="row pt-7 pb-6">
    <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
        <button type="button" class="btn bg-gradient-info mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Join Team</button>
    </div>
</div>
