<!-- START Project section w/ 3 images & quote & text -->
<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 text-center mx-auto">
        <p class="mb-1 text-success">Our Work</p>
        <h3>Some of our awesome projects - 1</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 position-relative">
        <img class="image-left border-radius-lg img-fluid shadow position-relative top-0 end-0 ms-md-5 bg-cover" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/asus.jpg">

        <p class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mx-auto mt-4 me-md-n2">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very
          slightly"
          <br>
          <br>
          <small>-NOAA</small>
        </p>

      </div>
      <div class="col-md-5">
        <!-- First image on the right side, above the article -->
        <img class="image-right border-radius-lg img-fluid shadow ms-md-n4 mb-4 mt-md-8 position-relative bg-cover" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/acer.jpg">
        <div class="px-4">
          <p class="text-gradient text-primary">Design</p>
          <h3 class="mb-4">Jeff Bezos</h3>
          <p>
            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 position-relative">
        <img class="image-left border-radius-lg img-fluid shadow position-relative top-0 end-0 ms-md-5 bg-cover" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/cristal-laptop.jpg">
        <p class="blockquote border border-info rounded w-50 p-3 text-sm text-info float-md-end mt-4 me-md-n2 mx-auto">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very
          slightly"
          <br>
          <br>
          <small>-NOAA</small>
        </p>

      </div>
      <div class="col-md-5">
        <!-- First image on the right side, above the article -->
        <img class="image-right border-radius-lg img-fluid shadow ms-md-n4 mb-4 mt-md-8 position-relative bg-cover" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/toshiba.jpg">
        <div class="px-4">
          <p class="text-gradient text-info">Development</p>
          <h3 class="mb-4">Mike Alfonso</h3>
          <p>
            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Project section w/ 3 images & quote & text -->