 <section class="my-5 py-5 bg-gradient-dark position-relative">
    <img src="{% static "assets/img/shapes/waves-white.svg"%}" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-6">
    <div class="container position-relative z-index-2">
      <div class="row">
        <div class="col-lg-5 col-md-8 m-auto text-start">
          <h5 class="text-white mb-lg-0 mb-5">
            You only have to do a few things right in your life so long as you don’t do too many things wrong.
          </h5>
        </div>
        <div class="col-lg-6 m-auto">
          <div class="row">
            <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
              <button type="button" class="btn bg-gradient-primary mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Apply Now</button>
            </div>
            <div class="col-sm-4 col-6 ps-sm-0 me-lg-0 me-auto">
              <button type="button" class="btn btn-white mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Our Story</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>