<section class="pb-6">
    <div class="container">
      <div class="row text-start">
        <div class="col-lg-6">
          <h3 class="mt-4">
            <span class="text-gradient text-primary">Our latest blogs</span>
          </h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4 mb-lg-0 mb-4">
          <!-- Start Card Blog Fullbackground - text centered -->
          <a href="javascript:;">
            <div class="card card-background move-on-hover">
              <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/sunset-waves.jpg')"></div>
              <div class="card-body pt-12">
                <h4 class="text-white">Search and Discovery</h4>
                <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
              </div>
            </div>
          </a>
          <!-- End Card Blog Fullbackground - text centered -->
        </div>
        <div class="col-lg-4 mb-lg-0 mb-4">
          <!-- Start Card Blog Fullbackground - text centered -->
          <a href="javascript:;">
            <div class="card card-background move-on-hover">
              <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/bridge.jpg')"></div>
              <div class="card-body pt-12">
                <h4 class="text-white">Last visits in US</h4>
                <p>Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
              </div>
            </div>
          </a>
          <!-- End Card Blog Fullbackground - text centered -->
        </div>
        <div class="col-lg-4">
          <!-- Start Card Blog Fullbackground - text centered -->
          <a href="javascript:;">
            <div class="card card-background move-on-hover">
              <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-flats.jpg')"></div>
              <div class="card-body pt-12">
                <h4 class="text-white">Grow in a beautiful area</h4>
                <p>Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can’t have both.</p>
              </div>
            </div>
          </a>
          <!-- End Card Blog Fullbackground - text centered -->
        </div>
      </div>
    </div>
  </section>