<!-- -------- START HEADER 8 w/ card over right bg image ------- -->
<header>
  <div class="page-header min-vh-85">
    <div>
      <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../../assets/img/curved-images/curved6.jpg" alt="image">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex">
          <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
            <h2 class="text-gradient text-primary mb-0">Soft Design System.</h2>
            <h2 class="text-dark mb-4">Choose the best</h2>

            <p class="lead text-dark pe-md-5 me-md-5">
              Find the story of Creative Tim&#39;s most complex design system and
              all the work that make this design available.
            </p>
            <div class="buttons">
              <button type="button" class="btn btn-rounded bg-gradient-primary mt-4">Contact Us</button>
              <button type="button" class="btn btn-rounded btn-outline-secondary mt-4 ms-2">Read More</button>
            </div>
            <div class="row mt-2">
              <div class="col-md-3 col-6 p-0">
                <img class="w-100" src="../../assets/img/logos/gray-logos/logo-pinterest.svg" alt="logo">
              </div>
              <div class="col-md-3 col-6 p-0">
                <img class="w-100" src="../../assets/img/logos/gray-logos/logo-netflix.svg" alt="logo">
              </div>
              <div class="col-md-3 col-6 p-0">
                <img class="w-100" src="../../assets/img/logos/gray-logos/logo-coinbase.svg" alt="logo">
              </div>
              <div class="col-md-3 col-6 p-0">
                <img class="w-100" src="../../assets/img/logos/gray-logos/logo-nasa.svg" alt="logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------- END HEADER 8 w/ card over right bg image ------- -->